## **Using weather dataset of Basal City of Germany. Its 10 years of data from 2006–2016 and it has hourly entries of the weather related features.**

## Importing necessary libraries

In [42]:
import warnings
warnings.filterwarnings('ignore')

In [43]:
import os
import numpy as np
import pandas as pd

In [44]:
from matplotlib import pyplot as plt
%matplotlib inline

In [45]:
import sklearn
from sklearn.model_selection  import train_test_split
from sklearn.metrics import accuracy_score

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
import tensorflow as tf
from tensorflow import keras

In [48]:
from  sklearn import preprocessing

## Importing the dataframe

In [49]:
#os.chdir("..")
weather_df = pd.read_csv("/home/eric/Documents/github_projects/WeatherPrediction/Basel.csv")

In [50]:
weather_df.head()

,timestamp,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
0,20201029T0000,11.315029,0.0,26.674032,238.24052
1,20201029T0100,10.845029,0.0,26.865265,237.58770
2,20201029T0200,10.855029,0.0,25.762016,236.97614
3,20201029T0300,11.015029,0.0,25.779620,234.09029
4,20201029T0400,10.705030,0.1,24.192429,233.47115

In [51]:
weather_df.columns

Index(['timestamp', 'Basel Temperature [2 m elevation corrected]',
       'Basel Precipitation Total', 'Basel Wind Speed [10 m]',
       'Basel Wind Direction [10 m]'],
      dtype='object')

In [52]:
weather_df.shape

(192, 5)

In [53]:
weather_df.describe()

,Basel Temperature [2 m elevation corrected],Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
count,192.000000,192.000000,192.000000,192.000000
mean,12.231696,0.040625,11.380468,180.892226
std,3.534925,0.142217,5.120395,84.807062
min,4.815029,0.000000,3.545589,7.594635
25%,9.672529,0.000000,7.901569,135.000000
50%,11.930029,0.000000,10.721701,196.017075
75%,14.080029,0.000000,13.898518,235.561000
max,21.745028,1.100000,26.865265,360.000000

In [54]:
weather_df.isnull().any()

timestamp                                      False
Basel Temperature [2 m elevation corrected]    False
Basel Precipitation Total                      False
Basel Wind Speed [10 m]                        False
Basel Wind Direction [10 m]                    False
dtype: bool

In [55]:
weather_df_num = weather_df[list(weather_df.dtypes[weather_df.dtypes!='object'].index)]

In [56]:
weather_y = weather_df_num.pop('Basel Temperature [2 m elevation corrected]')
weather_x = weather_df_num

In [57]:
train_x,test_x,train_y,test_y = train_test_split(weather_x,weather_y,test_size = 0.2,random_state = 4)

In [58]:
train_x.head()

,Basel Precipitation Total,Basel Wind Speed [10 m],Basel Wind Direction [10 m]
26,0.0,15.913465,232.35239
80,0.0,9.779817,186.34020
190,0.0,7.771331,76.60750
113,0.0,10.883676,214.21570
105,0.0,11.159999,180.00000

## **Implementation of Models**

## **Linear Regression**

In [59]:
model = LinearRegression()
model.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [60]:
prediction = model.predict(test_x)

In [61]:
## Calculating the error
linear_regression_error = np.mean((prediction-test_y)**2)
linear_regression_error

7.5770207963850025

In [62]:
pd.DataFrame({'actual':test_y,
              'prediction':prediction,
              'diff':(test_y-prediction)})

        actual  prediction      diff
11   12.595029   11.648674  0.946355
142  10.235029   14.055137 -3.820108
34   12.315029   13.494959 -1.179930
169   7.905028    9.474662 -1.569633
1    10.845029   16.061806 -5.216777
69   11.375029   12.124250 -0.749221
152   5.845029    8.715860 -2.870831
188   9.595029   10.244431 -0.649402
48    9.915029   10.392667 -0.477638
178   8.715029    9.690444 -0.975415
182  12.015029   10.438796  1.576233
168   8.125029    9.552417 -1.427388
101  14.075029   12.659554  1.415475
61   17.495028   11.717934  5.777094
93   13.855029   11.690105  2.164924
189   7.215029    9.951984 -2.736955
82   13.525029   13.187543  0.337486
181  11.365029   10.307966  1.057063
71    9.275029   12.065741 -2.790712
179   9.775029    9.985094 -0.210065
89   14.745029   12.642327  2.102702
83   14.185029   13.552859  0.632170
154   9.215029    9.497190 -0.282161
33   11.745029   13.427730 -1.682701
88   16.245030   12.831143  3.413887
110  21.285028   13.760774  7.524254
6    10.425029   12.137126 -1.712097
14   13.165029   15.640382 -2.475353
121  16.655030   14.477250  2.177780
180  10.595029   10.182621  0.412408
18   12.925029   14.138038 -1.213009
153   7.925029    9.154477 -1.229448
175   5.975029    8.962200 -2.987171
135  12.055029   13.686351 -1.631322
165   8.435029    9.349111 -0.914082
99   14.115029   12.816622  1.298407
111  21.705029   13.822598  7.882431
102  14.115029   12.561235  1.553794
120  17.035028   14.628783  2.406245

## **Polynomial Regression**

In [63]:
from sklearn.preprocessing import PolynomialFeatures

In [64]:
poly = PolynomialFeatures(degree=4)
x_poly = poly.fit_transform(train_x)

poly.fit(x_poly,train_y)
lin2 = LinearRegression()
lin2.fit(x_poly,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
prediction2 = lin2.predict(poly.fit_transform(test_x))
## Calculating the error
polynomical_regression_error = np.mean((prediction2-test_y)**2)
polynomical_regression_error

144.06419390642378

In [66]:
pd.DataFrame({'actual':test_y,
              'prediction':prediction2,
              'diff':(test_y-prediction2)})

        actual  prediction       diff
11   12.595029   85.676164 -73.081135
142  10.235029   12.666774  -2.431745
34   12.315029   14.582501  -2.267472
169   7.905028    8.031607  -0.126578
1    10.845029    9.246128   1.598901
69   11.375029   13.304405  -1.929376
152   5.845029    6.547222  -0.702193
188   9.595029   10.167893  -0.572864
48    9.915029   10.218702  -0.303673
178   8.715029    8.565643   0.149386
182  12.015029   11.362594   0.652435
168   8.125029    8.369840  -0.244811
101  14.075029   14.314250  -0.239221
61   17.495028   12.551698   4.943330
93   13.855029   21.117747  -7.262718
189   7.215029    8.800560  -1.585531
82   13.525029   15.017357  -1.492328
181  11.365029   10.913521   0.451508
71    9.275029   13.153464  -3.878435
179   9.775029    9.474061   0.300968
89   14.745029   14.738823   0.006206
83   14.185029   16.400542  -2.215513
154   9.215029    9.156993   0.058036
33   11.745029   14.822025  -3.076996
88   16.245030   15.567300   0.677730
110  21.285028   15.147424   6.137604
6    10.425029   15.425867  -5.000838
14   13.165029   14.069492  -0.904463
121  16.655030   12.271583   4.383447
180  10.595029   10.328569   0.266460
18   12.925029   14.828667  -1.903638
153   7.925029    8.033444  -0.108415
175   5.975029    6.765520  -0.790491
135  12.055029   13.897717  -1.842688
165   8.435029    8.194208   0.240821
99   14.115029   15.071587  -0.956558
111  21.705029   15.186654   6.518375
102  14.115029   14.103657   0.011372
120  17.035028   13.454251   3.580777

## **Decision Tree Regression — CART**

In [67]:
from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(train_x,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [68]:
prediction3 = regressor.predict(test_x)
decisiontree_regression_error = np.mean((prediction3-test_y)**2)
decisiontree_regression_error

5.847035267436357

In [69]:
pd.DataFrame({'actual':test_y,
              'prediction':prediction3,
              'diff':(test_y-prediction3)})

        actual  prediction       diff
11   12.595029   10.445029   2.150000
142  10.235029   16.115028  -5.879999
34   12.315029   13.155029  -0.840000
169   7.905028    8.875029  -0.970001
1    10.845029   11.015029  -0.170000
69   11.375029   11.745029  -0.370000
152   5.845029    6.745029  -0.899999
188   9.595029    7.995029   1.600000
48    9.915029    9.685029   0.230000
178   8.715029    7.995029   0.720000
182  12.015029   11.925029   0.090000
168   8.125029    8.875029  -0.750000
101  14.075029   14.205030  -0.130001
61   17.495028   16.265028   1.230000
93   13.855029   13.815029   0.040000
189   7.215029    7.995029  -0.780000
82   13.525029   13.975029  -0.450000
181  11.365029   11.925029  -0.560000
71    9.275029   12.395029  -3.120000
179   9.775029    7.995029   1.780000
89   14.745029   14.065029   0.680000
83   14.185029   15.985029  -1.800000
154   9.215029    6.745029   2.470000
33   11.745029   11.315029   0.430000
88   16.245030   19.075027  -2.829997
110  21.285028   21.185028   0.100000
6    10.425029   10.445029  -0.020000
14   13.165029   14.015029  -0.850000
121  16.655030   16.535028   0.120002
180  10.595029    7.995029   2.600000
18   12.925029   18.165028  -5.239999
153   7.925029    6.745029   1.180000
175   5.975029    6.185029  -0.210000
135  12.055029    8.865028   3.190001
165   8.435029    8.525029  -0.090000
99   14.115029   14.065029   0.050000
111  21.705029   11.655029  10.050000
102  14.115029   13.815029   0.300000
120  17.035028   18.165028  -1.130000

## **Random Forest with maximum Dept — 10**

In [70]:
from sklearn.ensemble import RandomForestRegressor

regr = RandomForestRegressor(max_depth=10, random_state=0, n_estimators=100)
regr.fit(train_x, train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=10, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [71]:
prediction4 = regr.predict(test_x)
randomforest_dept10_error = np.mean((prediction4-test_y)**2)
randomforest_dept10_error

5.396570018009168

In [72]:
pd.DataFrame({'actual':test_y,
              'prediction':prediction4,
              'diff':(test_y-prediction4)})

        actual  prediction      diff
11   12.595029   11.684349  0.910680
142  10.235029   14.948647 -4.713618
34   12.315029   12.495907 -0.180878
169   7.905028    8.442886 -0.537857
1    10.845029   11.217410 -0.372381
69   11.375029   11.704106 -0.329077
152   5.845029    7.018029 -1.173000
188   9.595029    8.802162  0.792867
48    9.915029    9.708129  0.206900
178   8.715029    8.862296 -0.147267
182  12.015029   11.020129  0.994900
168   8.125029    8.537286 -0.412257
101  14.075029   14.070561  0.004468
61   17.495028   15.370405  2.124623
93   13.855029   14.184868 -0.329839
189   7.215029    8.328729 -1.113700
82   13.525029   16.678881 -3.153852
181  11.365029   10.927129  0.437900
71    9.275029   12.230436 -2.955407
179   9.775029    9.055862  0.719167
89   14.745029   14.098446  0.646583
83   14.185029   18.462632 -4.277603
154   9.215029    8.793929  0.421100
33   11.745029   14.980275 -3.235246
88   16.245030   18.149554 -1.904524
110  21.285028   16.394527  4.890501
6    10.425029   10.791500 -0.366471
14   13.165029   13.496478 -0.331449
121  16.655030   16.364549  0.290481
180  10.595029    9.863396  0.731633
18   12.925029   15.249770 -2.324741
153   7.925029    7.410629  0.514400
175   5.975029    6.669829 -0.694800
135  12.055029   11.295176  0.759853
165   8.435029    8.550254 -0.115225
99   14.115029   16.173456 -2.058427
111  21.705029   12.266420  9.438609
102  14.115029   14.136811 -0.021782
120  17.035028   16.305602  0.729426

## **Random Forest with maximum depth - 50**

In [73]:
regr = RandomForestRegressor(max_depth=50, random_state=0, n_estimators=100)
regr.fit(train_x, train_y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=50, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [74]:
prediction5 = regr.predict(test_x)
randomforest_dept50_error = np.mean((prediction5-test_y)**2)
randomforest_dept50_error

5.429224822158827

In [75]:
pd.DataFrame({'actual':test_y,
              'prediction':prediction5,
              'diff':(test_y-prediction5)})

        actual  prediction      diff
11   12.595029   11.696129  0.898900
142  10.235029   14.937062 -4.702033
34   12.315029   12.487529 -0.172500
169   7.905028    8.441186 -0.536157
1    10.845029   11.222929 -0.377900
69   11.375029   11.583929 -0.208900
152   5.845029    7.018029 -1.173000
188   9.595029    8.801796  0.793233
48    9.915029    9.708129  0.206900
178   8.715029    8.849596 -0.134567
182  12.015029   11.013062  1.001967
168   8.125029    8.535586 -0.410557
101  14.075029   14.086729 -0.011700
61   17.495028   15.453128  2.041900
93   13.855029   14.305547 -0.450518
189   7.215029    8.331929 -1.116900
82   13.525029   16.802478 -3.277449
181  11.365029   10.921562  0.443467
71    9.275029   12.174829 -2.899800
179   9.775029    9.051996  0.723033
89   14.745029   14.113479  0.631550
83   14.185029   18.471862 -4.286833
154   9.215029    8.790429  0.424600
33   11.745029   14.903629 -3.158600
88   16.245030   18.182528 -1.937498
110  21.285028   16.386729  4.898299
6    10.425029   10.762229 -0.337200
14   13.165029   13.436329 -0.271300
121  16.655030   16.568628  0.086402
180  10.595029    9.854329  0.740700
18   12.925029   15.503328 -2.578299
153   7.925029    7.410629  0.514400
175   5.975029    6.672029 -0.697000
135  12.055029   11.209729  0.845300
165   8.435029    8.551529 -0.116500
99   14.115029   16.143328 -2.028299
111  21.705029   12.238029  9.467000
102  14.115029   14.210204 -0.095175
120  17.035028   16.493028  0.542000

## **Error Comparison between different models**

In [76]:
print("linear_regression_error :", linear_regression_error)
print("polynomical_regression_error :", polynomical_regression_error)
print("decisiontree_regression_error :", decisiontree_regression_error)
print("randomforest_dept10_error :", randomforest_dept10_error)
print("randomforest_dept50_error :", randomforest_dept50_error)

linear_regression_error : 7.5770207963850025
polynomical_regression_error : 144.06419390642378
decisiontree_regression_error : 5.847035267436357
randomforest_dept10_error : 5.396570018009168
randomforest_dept50_error : 5.429224822158827